.container {
    margin: 56px auto 0;
    max-width: 375px;
    padding: 0 8px;
}

@media screen and (min-width: 768px) {
    .container {
        margin-top: 100px;
        padding: 0 16px;
        max-width: 768px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        margin-top: 120px;
        padding: 0 80px;
        max-width: 1440px;
    }
}
