.container {
    margin-top: 56px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .container {
        margin-top: 100px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        margin-top: 120px;
        padding: 0 80px;
    }
}
