.container {}

.backBtn {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    background: transparent;
    cursor: pointer;
}

.header,
.header h5 {
    margin-top: 20px;
}

.content {
    position: relative;
    display: flex;
    gap: 40px;
}

.pagination {}

.loader {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
