.container {
    margin-top: 56px;
}

.backBtn {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    background: transparent;
    cursor: pointer;
}

.header,
.header h5 {
    margin-top: 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (min-width: 768px) {
    .container {
        margin-top: 100px;
    }

    .content {
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        margin-top: 120px;
    }

    .content {
        flex-direction: row;
    }
}
