.card {
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    position: relative; /* Щоб позиціонувати текст поверх */
}

.content {
    position: absolute;
    display: flex;
    bottom: 16px;
    left: 16px;
    gap: 4px;
    z-index: 10;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

@media (min-width: 768px) {
    .card {
        border-radius: 30px;
        height: 369px;
    }

    .content {
        bottom: 24px;
        left: 24px;
    }
}

@media (min-width: 1440px) {
    .content {
        gap: 10px;
    }
}