.card {
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    position: relative; /* Щоб позиціонувати текст поверх */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.content {
    position: absolute;
    display: flex;
    bottom: 16px;
    left: 16px;
    gap: 4px;
    z-index: 10;
}

.text {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: none;
    color: rgba(255, 255, 255, 1);
    transition: background 0.6s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 11px;
    cursor: pointer;
}

.button:hover {
    background: var(--color-text-main);
}

.button:focus {
    background: var(--color-text-main);
    outline: none;
}

@media (min-width: 768px) {
    .card {
        border-radius: 30px;
        height: 369px;
    }

    .content {
        bottom: 24px;
        left: 24px;
    }

    .text {
        padding: 10px 14px;
        line-height: 1.2;
    }
}

@media (min-width: 1440px) {
    .content {
        gap: 10px;
    }

    .text {
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}