.container {
    display: flex;
    flex-direction: column;
}

.quotesContainer {
    align-self: flex-start;
    padding-left: 16px;
}

.quotes {
    width: 40px;
    height: 32px;
    color: #bfbebe;
}


@media screen and (min-width: 768px) {
    .quotesContainer {
        padding-left: 32px;
    }

    .quotes {
        width: 59px;
        height: 48px;
    }
}
