.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window {
    background: #FFFFFF;
    padding: 20px 20px 80px 20px;
    border-radius: 30px;
    width: 100%;
    max-width: 560px;
}

.modal-window-close {
    display: flex;
    margin-left: auto;
    background: inherit;
    cursor: pointer;
    border: none;
}

.modal-title {
    color: red;
}
