.title {
    font-weight: 800;
    font-size: 28px;
    line-height: 1.14;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .title {
        font-size: 40px;
        line-height: 1.1;
    }
}