.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #050505;
    padding: 84px 0 81px 0;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 90px;
    line-height: 90px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.hero-description {
    text-align: center;
    max-width: 577px;
    margin: 40px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.hero-btn {
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #1A1A1A;
    border: 1px solid #1A1A1A;
    border-radius: 30px;
    padding: 16px 32px;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.hero-btn:hover {
    background-color: #050505;
    border-color: #050505;
    color: #FFFFFF;
}