/* Need to remove when we made global modal container */
.logOut-modal-container {
    padding: 0 30px;
}
/* Need to move to Modals global classes */
.modal-title {
    color: #050505;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    text-align: center;
}

.modal-description {
    color: #1A1A1A;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0 0 0;
    text-align: center;
}

.modal-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.modal-btn {
    background-color: #050505;
    border: 1px solid #050505;
    border-radius: 30px;
    padding: 16px 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-btn__outline {
    background-color: #FFFFFF;
    border: 1px solid #1A1A1A;
    border-radius: 30px;
    padding: 16px 0;
    color: #050505;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}