.container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        flex-direction: column;
    }
}
