.text {
    color: var(--gray);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.428;
    margin: 0 0 32px 0;
}

@media (min-width: 768px) {
    .text {
        color: var(--color-text-secondary);
        font-size: 16px;
        line-height: 1.5;
        margin: 0 0 40px 0;
    }
}