.text {
        color: var(--color-text-tertiary);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.428;
    }

@media (min-width: 768px) {
    .text {
        color: var(--color-text-secondary);
        font-size: 16px;
        line-height: 1.5;
    }
}