.container {
    position: relative;
    width: 100%;
    height: 48px;
}

.select {
    position: relative;
    display: grid;
    padding: 8px 16px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray);
    border-radius: 30px;
    font-family: var(--font-family-main);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-base);
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 2;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
}

.selectArrow {
    position: absolute;
    right: 16px;
    top: 50%;
    width: 18px;
    height: 18px;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.2s;
    z-index: 0;
}

.selectArrowUp {
    transform: translateY(-50%) rotate(180deg);
}

@media screen and (min-width: 768px) {
    .container {
        height: 56px;
    }

    .select {
        padding: 16px 18px;
        border-radius: 30px;
        font-size: 16px;
    }

    .selectArrow {
        right: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 330px;
    }
}
