.header {
  display: flex;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #050505;
  padding: 16px 16px 0 16px;
}

.header--white {
  background-color: #ffffff;

  .logo {
    color: #050505;
  }

  .header-nav-link {
    color: #050505;
  }

  .header-nav-link:hover,
  .header-nav-link--active {
    border: 1px solid #BFBEBE;
  }

  .burger span {
    background: #050505;
  }
}

.logo {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.header-nav {
  display: none;
  margin: 0 auto;
}

.header-nav-link {
  padding: 14px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 30px;
}

.header-nav-link:last-child {
  margin-right: 0;
}

.header-nav-link:hover {
  border: 1px solid #ffffff33;
}

.header-nav-link--active {
  border: 1px solid #ffffff33;
}

.header-profile {
  position: relative;
  margin-left: auto;
}

.header-profile-action {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 30px;
  cursor: pointer;
}

.header-profile-img {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: inherit;
  margin-right: 6px;
  border-radius: 50%;
  overflow: hidden;
}

.header-profile img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header-profile-name {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-right: 4px;
}

.header-profile-arrow {
  display: flex;
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  margin-right: 6px;
}

.arrow__up {
  transform: rotate(180deg);
}

.header-profile-content {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  padding: 10px 8px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  display: flex;
  background: black;
  justify-content: space-between;
  gap: 6px;
  width: 100%;
  flex-direction: column;
}

.header-profile-content__item {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  text-decoration: none;
  padding: 6px 8px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}

.header-profile-content__item span {
  margin-right: 2px;
}

.header-profile-content__item:hover {
  background: rgba(255, 255, 255, 0.08);
}

.header-actions {
  display: flex;
  background-color: #ffffff;
  border-radius: 30px;
  margin-left: auto;
}

.header-actions button {
  padding: 10px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  transition: ease 0.1s;
}

.header-actions button:first-child {
  color: #050505;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.header-actions button:last-child {
  color: #ffffff;
  border: 1px solid #bfbebe;
  background-color: #1a1a1a;
}

.header-actions button:first-child:hover {
  color: #ffffff;
  border: 1px solid #bfbebe;
  background-color: #1a1a1a;
}

.header-actions button:first-child:hover ~ button:last-child {
  color: #050505;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.header-actions--signin button:first-child {
  color: #ffffff;
  border: 1px solid #bfbebe;
  background-color: #1a1a1a;
}

.header-actions--signin button:last-child {
  color: #050505;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.header-actions--signup button:first-child:hover {
  color: #050505;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.header-actions--signup button:first-child:hover ~ button:last-child {
  color: #ffffff;
  border: 1px solid #bfbebe;
  background-color: #1a1a1a;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21px;
  background: none;
  border: none;
  gap: 2px;
  cursor: pointer;
  margin-left: 4px;
}

.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 99;
  /*justify-content: space-between;*/
  top: 0;
  left: 0;
  padding: 24px;
  background-color: #050505;
  height: 100vh;
  width: 100vw;
}

.active {
  display: flex !important;
}

.mobile-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-close-btn {
  display: flex;
  flex-direction: column;
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.mobile-menu-close-btn span {
  display: block;
  height: 2px;
  background-color: #FFFFFF;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: center;
}

.mobile-menu-close-btn span:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.mobile-menu-close-btn span:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

.mobile-menu {
  .mobile-menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(50%);
  }

  .header-nav-link {
    margin: 0;
  }
}

.mobile-menu-decors {
  display: flex;
  margin-top: 0;
  justify-content: center;
  margin-bottom: 116px;
}

.mobile-menu-decors-img-1 {
  display: block;
  width: 77px;
  height: 70px;
  background-image: url('../../../assets/hero1.svg');
  background-size: cover;
  margin-top: 80px;
}
.mobile-menu-decors-img-2 {
  display: block;
  width: 190px;
  height: 172px;
  background-image: url('../../../assets/hero2.svg');
  background-size: cover;
}

@media (min-width: 768px) {
  .header {
    padding: 20px 32px 0 32px;
  }

  .logo {
    font-size: 24px;
    line-height: 28px;
  }

  .header-nav {
    display: flex;
    justify-content: center;
  }

  .header-actions {
    margin-left: inherit;
  }

  .header-actions button {
    padding: 14px 30px;
  }

  .header-profile-arrow {
    margin-right: 14px;
  }

  .header-profile-img {
    width: 50px;
    height: 50px;
  }

  .header-profile {
    margin-left: inherit;
  }

  .burger {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 20px 60px 0 60px;
  }
}
