.header {
    display: flex;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #050505;
    padding: 20px 60px 0 60px;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /*transform: translateX(-50%);*/
}

.header-nav-link {
    padding: 14px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin-right: 40px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 30px;
}

.header-nav-link:last-child {
    margin-right: 0;
}

.header-nav-link:hover {
    border: 1px solid #FFFFFF33;
}

.header-nav-link--active {
    border: 1px solid #FFFFFF33;
}

.header-profile {
    position: relative;
}

.header-profile-action {
    display: flex;
    align-items: center;
    background-color: #1A1A1A;
    border-radius: 30px;
    cursor: pointer;
    padding: 0 16px 0 0;
}

.header-profile-img {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: inherit;
    border-right: 1px solid #FFFFFF33;
    border-radius: 30px;
    margin-right: 6px;
}

.header-profile-name {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

.header-profile-arrow {
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
}

.arrow__up {
    transform: rotate(180deg);
}


.header-profile-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    margin-top: 8px;
    padding: 16px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 10;
}

.header-profile-content__item {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}

.header-profile-content__item span {
    margin-right: 2px;
}

.header-actions {
    display: flex;
    background-color: #FFFFFF;
    /*border: 1px solid #FFFFFF;*/
    border-radius: 30px;
}

.header-actions button {
    padding: 14px 30px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    transition: ease 0.1s;
}

.header-actions button:first-child {
    color: #050505;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}
.header-actions button:last-child {
    color: #FFFFFF;
    border: 1px solid #BFBEBE;
    background-color: #1A1A1A;
}

.header-actions button:first-child:hover {
    color: #FFFFFF;
    border: 1px solid #BFBEBE;
    background-color: #1A1A1A;
}

.header-actions button:first-child:hover ~ button:last-child {
    color: #050505;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.header-actions--signin button:first-child {
    color: #FFFFFF;
    border: 1px solid #BFBEBE;
    background-color: #1A1A1A;
}

.header-actions--signin button:last-child {
    color: #050505;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.header-actions--signup button:first-child:hover {
    color: #050505;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.header-actions--signup button:first-child:hover ~ button:last-child {
    color: #FFFFFF;
    border: 1px solid #BFBEBE;
    background-color: #1A1A1A;
}
