/* Need to remove when we made global modal container */
.signIn-modal-container {
    padding: 0 30px;
}
/* Need to move to Modals global classes */
.modal-title {
    color: #050505;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
}

.modal-description {
    color: #1A1A1A;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0 0 0;
    text-align: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    background-color: inherit;
    border: 1px solid #BFBEBE;
    border-radius: 30px;
    outline: none;
    padding: 16px 18px;
    color: #1A1A1A;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.form-group input::placeholder {
    color: #1A1A1A;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.password-wrapper {
    position: relative;
    display: flex;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 50px;
}

.show-password {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.error {
    margin-top: 10px;
    margin-left: 20px;
    color: #D32F2F;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.modal-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.modal-btn {
    background-color: #050505;
    border: 1px solid #050505;
    border-radius: 30px;
    padding: 16px 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-btn-disabled {
    background-color: #BFBEBE;
    color: #FFFFFF;
    border: 1px solid #BFBEBE;
    cursor: not-allowed;
}

.modal-info-text {
    text-align: center;
    color: #BFBEBE;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 20px 0 0 0;
}

.modal-info-text button {
    border: none;
    cursor: pointer;
    background: inherit;
    color: #050505;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}