.container {
    display: flex;
    justify-content: center;
    margin: 56px auto 0;
    max-width: 375px;
}

.wrapper {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container {
        margin-top: 100px;
        max-width: 768px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        margin-top: 120px;
        max-width: 1440px;
    }

    .wrapper {
        width: 822px;
    }
}