.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0;
    height: 100%;
}

.text {
    display: inline-block;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-base);
}

.author {
    display: inline-block;
    margin-top: 48px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing-base);
    text-transform: uppercase;
}
