.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.breadcrumbs-item {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #050505;
}

.breadcrumbs-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.breadcrumbs-link {
    color: #BFBEBE;
    cursor: pointer;
    text-decoration: none;
}

.breadcrumbs-current {
    color: #050505;
}

.breadcrumbs-separator {
    color: #BFBEBE;
}