.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #050505;
    padding: 140px 0 100px 0;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.hero-description {
    text-align: center;
    max-width: 577px;
    margin: 20px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.hero-decors {
    display: flex;
    margin-top: 40px;
}
.hero-img-1 {
    display: block;
    width: 77px;
    height: 70px;
    margin-top: 120px;
    background-image: url('../../../assets/hero1.svg');
    background-size: cover;
}
.hero-img-2 {
    display: block;
    width: 190px;
    height: 172px;
    background-image: url('../../../assets/hero2.svg');
    background-size: cover;
}

.hero-btn {
    text-transform: uppercase;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 12px 24px;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.hero-btn:hover {
    background-color: #050505;
    border-color: #050505;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .hero {
        padding: 151px 0 90px 0;
    }

    .hero-title {
        font-size: 70px;
        line-height: 70px;
    }

    .hero-description {
        font-size: 16px;
        line-height: 24px;
        margin: 40px 0;
    }

    .hero-btn {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 32px;
    }

    .hero-img-1 {
        width: 128px;
        height: 116px;
        margin-top: 120px;
    }

    .hero-img-2 {
        width: 302px;
        height: 273px;
    }
}


@media screen and (min-width: 1440px) {
    .hero {
        padding: 84px 0 80px 0;
    }

    .hero-title {
        font-size: 90px;
        line-height: 90px;
    }
}