.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
}
