.footer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  max-width: 1400px;
}

.footer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 40px 16px;
  border-bottom: 1px solid var(--gray);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  color: var(--color-text-main);
  text-decoration: none;
  transition: color 0.25s ease;
}

.logo:hover,
.logo:focus-visible {
  color: var(--gray);
}

.logo:focus-visible {
  outline: 2px solid var(--gray);
  outline-offset: 3px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.divider {
  width: 100vw;
  height: 1px;
  background-color: var(--gray);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-text-secondary);
  padding: 40px 0;
}

@media (min-width: 768px) {
  .footer-header {
    padding: 0 32px 40px 32px;
  }

  .logo {
    font-size: 24px;
    line-height: 1.17;
  }

  .copyright {
    font-size: 16px;
    line-height: 1.5;
  }
}


@media screen and (min-width: 1440px) {
  .footer-header {
    padding: 0 80px 40px 80px;
  }
}
