@import "./variables.css";

@font-face {
  font-family: "Mulish";
  src: local("Mulish"),
    url("./fonts/Mulish-VariableFont.ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-family-main);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-base);
  color: var(--color-text-main);
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button {
  margin: 0;
  padding: 0;
}

/* Global list reset: remove default bullets and spacing */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Common container for pages */
.container {
  margin: 32px auto;
  max-width: 343px;
  min-width: 320px;
}


@media only screen and (min-width: 768px) {
  .container {
    margin: 40px auto;
    max-width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}