.button {
    /*!* --- Glassmorphism Effect --- *!*/
    /*background: rgba(255, 255, 255, 0.2);*/
    /*backdrop-filter: blur(10px);*/
    /*-webkit-backdrop-filter: blur(10px);*/
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/
    /*color: white;*/
    /*transition: background 0.3s ease, transform 0.3s ease;*/

    /*!* --- Button specifics --- *!*/
    /*width: 45px;*/
    /*height: 45px;*/
    border-radius: 50%;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*cursor: pointer;*/
    padding: 11px;
}

.button:hover {
    /*background: rgba(255, 255, 255, 0.4);*/
    /*!* transform: rotate(45deg); <-- Можна розкоментувати для ефекту повороту *!*/
}

.text {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0;
}

@media (min-width: 768px) {
    .text {
        padding: 10px 14px;
        line-height: 1.2;
    }
}

@media (min-width: 1440px) {
    .text {
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}