.testimonials {
    display: flex;
    justify-content: center;
}

.testimonials h2 {
    margin: 16px 0 0 0;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: var(--letter-spacing-base);
    text-transform: uppercase;
}

.testimonials h5 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-base);
}

.testimonialsWrapper {
    width: 822px;
    text-align: center;
}
