.testimonials {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.testimonials h2 {
    margin: 16px 0;
    font-weight: 800;
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: var(--letter-spacing-base);
    text-transform: uppercase;
}

.testimonials h5 {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: var(--letter-spacing-base);
}

.testimonialsWrapper {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .testimonials h2 {
        margin: 16px 0 0 0;
        font-size: 40px;
        line-height: 1.1;
    }

    .testimonials h5 {
        font-size: 16px;
        line-height: 1.5;
    }
}

@media screen and (min-width: 1440px) {
    .testimonialsWrapper {
        width: 822px;
    }
}
